* {
    box-sizing: border-box;
    /*para no renegar con tamaño de las cajas*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*paleta de colores*/
:root {
    --lightblue: #9DCFF2;
    --lightblue1: #CFE6F6;
    --white: #eeeff4;
    --black: #302f35;
    --gold: #dfd395;
    --grey: #d5d3d6;
    --darkgrey: #48494A;
    --violet: #7965b1;
    --darkviolet: #7965b1;
}

/*configuro fuentes*/
h1 {
    font-size: 2.2rem;
    /*asigno tamaño a titulos y subtitulos*/
}

h2 {
    font-size: 1.8rem
        /*asigno tamaño a titulos y subtitulos*/
}

h3 {
    font-size: 1.6rem
        /*asigno tamaño a titulos y subtitulos*/
}

h4 {
    font-size: 1.2rem
        /*asigno tamaño a titulos y subtitulos*/
}

p {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
    /*centro*/
}

/*fondo del body de la pag*/
body {
    font-family: 'Kanit', sans-serif;
    /* declaro fuente principal*/
    font-family: 'Oswald', sans-serif;
    /* declaro fuente secundaria*/
    background-image: linear-gradient(to top, var(--lightblue1) 0%, var(--lightblue) 100%);
    /*gradiente del fondo, de blanco a gris*/
}

/*configuro el fondo de la barra de scroll*/
body::-webkit-scrollbar {
    width: 1.0rem;
    /*modifico el ancho de la barra de scroll*/
    background: var(--green);
    /*modifico el color de fondo de la barra de scroll*/
}

/*configuro la barra de scroll*/
body::-webkit-scrollbar-thumb {
    background: var(--gold);
    /* cambio el color de la barra de scroll*/
    border-radius: 5rem;
    /*redondeo los bordes de la barra*/
}

/*configuro la barra de scroll cuando apoyo el mouse*/
body::-webkit-scrollbar-thumb:hover {
    background: var(--white);
    /*cuando le apoyo el mouse cambia a blanco*/
    border-radius: 5rem;
    /*sigue con el borde redondeado*/
}


/*header*/

.contenedor {
    width: 100%;
    /*ancho*/
    height: 15vh;
    /*15% del alto de la pantalla*/
    background-color: var(--lightblue);
    /*color de fondo del header*/
    position: sticky;
    /*propiedad para dejar la barra fija*/
    z-index: 1;
    /*para que pise todos los demas elementos*/
    top: 0;
    /*posicion donde se va a quedar fija*/
}

.contenedor .columnas {
    display: flex;
    /*display para organizar contenido de las dos columnas*/
}

.contenedor .columnas .primerCol-logo {
    width: 30%;
    /*ocupa el 30% de la caja que la conitiene(del 100&)*/
    display: flex;
    /*display para organizar la imagen*/
    align-self: center;
    /*centro el unico elemento que tengo, que es el logo*/
}

.contenedor .columnas .primerCol-logo img {
    height: 13vh;
    /*le asigno la altura a la imagen*/
    margin: 0 auto;
    /*centro la imagen*/
}

/*segunda seccion, nav con botones */
.contenedor .columnas .segundaCol-botones {
    width: 70%;
    /*ocupo el 70% del ancho*/
    padding: 55px;
    /*por dentro de la caja bajo su contenido 55 px(los botones)*/
}

.contenedor .columnas .segundaCol-botones nav ul {
    display: flex;
    /*display para organizar los botones*/
    justify-content: space-around;
    /* dispone los botones en este fotmato de espaciado ! . . . !*/
}

/*botones del nav*/

.contenedor .columnas .segundaCol-botones nav ul li a {
    color: var(--white);
    /*modifico color de la letra*/
    font-size: 1.2rem;
    /*modifico tamaño*/
    text-transform: uppercase;
    /*mayuscula*/
}

.contenedor .columnas .segundaCol-botones nav ul li a::after {
    content: '';
    width: 0px;
    height: 0.3rem;
    display: block;
    background: var(--gold);
    transition: 0.7s;
    /*transicion de subrayado cuando apoyo el mouse*/
}

.contenedor .columnas .segundaCol-botones nav ul li a:hover::after {
    width: 100%;
    /*transicion de subrayado cuando apoyo el mouse*/
}

/*presentacion*/

.contenedor-presentacion {
    width: 100%;
    /*ancho*/
    height: 35vh;
    /*alto*/
}

.contenedor-presentacion .background-presentacion {
    width: 94%;
    /*ancho de la caja*/
    height: 30vh;
    /*alto de la caja*/
    background-image: url("../img/background.png");
    /*url de imagen de fondo*/
    background-repeat: no-repeat;
    /* para que la imagen de fondo no se repita*/
    background-size: cover;
    /*para que la imagen de fondo se estire al tamaño de la caja*/
    border-radius: 10px 10px 10px 10px;
    /*redondeado de las esquinas*/
    margin: 0 auto;
    /*centrado horizontalmente*/
    top: 2.5vh;
    /*bajo 2.5% la caja para que quede centrado verticalmente*/
    position: relative;
    /*para poder mover los elementos de su interior*/
}

.contenedor-presentacion .background-presentacion button {
    border: 2px solid var(--gold);
    /*anchura, estilo y color borde*/
    padding: 20px;
    /*espacio alrededor texto*/
    background-color: var(--white);
    /*color botón*/
    color: var(--black);
    /*color texto*/
    font-size: 1.2rem;
    /*tamaño del texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*texto en mayuscula*/
    border-radius: 50px;
    /*bordes que se sean redondos*/
    position: absolute;
    /*muevo los elementos y pisa lo de abajo*/
    top: 85px;
    /*85px para abajo desde arriba*/
    right: 8%;
    /*8% para la izquierda desde la derecha de la caja*/
}

.contenedor-presentacion .background-presentacion h1 {
    position: absolute;
    /*muevo los elementos y pisa lo de abajo*/
    top: 23px;
    /*23px para abajo desde arriba*/
    left: 12%;
    /*12% para la derecha desde la izquierda de la caja*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    letter-spacing: 1.5px;
    /*espaciado entra las letras*/
    color: var(--darkgrey);
    /*color de la fuente*/
}

.contenedor-presentacion .background-presentacion h2 {
    position: absolute;
    /*muevo los elementos y pisa lo de abajo*/
    top: 120px;
    /*120px para abajo desde arriba*/
    left: 12%;
    /*12% para la derecha desde la izquierda de la caja*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    color: var(--darkgrey);
    /*color de la fuente*/
}

/*beneficios*/
.contenedor-beneficios {
    width: 100%;
    /*100% de ancho*/
    height: 50vh;
    /*50% de alto*/
}

.contenedor-beneficios .background-beneficios {
    width: 94%;
    /*100% de ancho*/
    height: 45vh;
    /*45% de alto*/
    top: 2.5vh;
    /*bajo 2.5% para que quede centrado verticalmente*/
    background-color: var(--lightblue1);
    /*color de fondo*/
    margin: 0 auto;
    /*centro horizontalmente*/
    position: relative;
    /*para poder mover los elementos del interior*/
}

.contenedor-beneficios .background-beneficios .titulo-beneficios {
    padding-top: 4%;
    /*bajo 4% el titulo*/
    text-transform: uppercase;
    /*texto en mayuscula*/
    color: var(--darkgrey);
    /*color de la fuente*/
}

.contenedor-beneficios .background-beneficios .todos-beneficios {
    padding-top: 4%;
    /*bajo 4% las columnas con favicom*/
    display: flex;
    justify-content: space-around;
    /*disposicion de espaciado ! . . . !*/
}

.contenedor-beneficios .background-beneficios .todos-beneficios .beneficio .svg {
    margin: 0 auto;
    /*centrado de los favicom*/
    height: 8rem;
    /*altura del circulo*/
    width: 8rem;
    /*anchura del circulo*/
    background-color: var(--lightblue);
    /*color del circulo*/
    border-radius: 50%;
    /*propiedad del borde para que quede redondo*/
    border: 7px solid var(--white);
    /*anchura, estilo y color borde*/
    display: flex;
    /*centro el favicom en el medio del circulo verde creado*/
    justify-content: center;
    /*centro el favicom en el medio del circulo verde creado// alineo a los costados*/
    align-items: center;
    /*centro el favicom en el medio del circulo verde creado// alineo arriba y abajo*/
}

.contenedor-beneficios .background-beneficios .todos-beneficios .beneficio h4 {
    margin: 0 auto;
    /*centro horizontalmente el titulo de cada beneficio*/
    padding-top: 5%;
    /*bajo 5% los titulos*/
    text-transform: uppercase;
    /*mayusculas*/
    width: 60%;
    /*ocupo el *% de ancho de la caja que me contiene*/
    color: var(--darkgrey);
    /*color de la fuente*/
}

/*bebidas por categorias*/
.contenedor-categorias {
    width: 100%;
    /*ancho de 100%*/
    height: 80vh;
    /*alto 80%*/
}

.contenedor-categorias .background-categorias {
    width: 94%;
    /*ancho de 94%*/
    height: 80vh;
    /*80% de alto */
    margin: 0 auto;
    /*caja centrada*/
}

.contenedor-categorias .background-categorias .titulo-categorias {
    padding-top: 1.5%;
    /*bajo 1,5% la altura del titulo*/
    text-transform: uppercase;
    /*texto en mayuscula*/
    color: var(--darkgrey);
    /*color de la fuente*/

}

.contenedor-categorias .background-categorias .tarjetas {
    padding-top: 1%;
    /*bajo 1% la altura de las tarjetas de categorias*/
    display: flex;
    flex-direction: row;
    /*dispongo como fila*/
    justify-content: space-between;
    /*espaciadas entre si*/

}

.contenedor-categorias .background-categorias .tarjetas .tarjeta {
    position: relative;
    /*para que se puedan mover los hijos de esta caja*/
    width: 100%;
    /*100% del ancho de mi columna*/
    height: 70vh;
    /*todas las tarjetas tienen altura de 70 % de la pantalla*/
    padding: 0 0 0 0.25%;
    /*muevo 0.25% de izq a derecha el contenido para que quede centrado*/
}

.contenedor-categorias .background-categorias .tarjetas .tarjeta .contenido {
    position: absolute;
    /*para poder movierme*/
    width: 98%;
    /*modidifico el ancho de cada tarjeta para que no queden pegadas*/
    height: 100%;
    /*100% de la caja que me contiene para el alto*/
    background-color: var(--lightblue);
    /*color de fondo, este lo agregue solo para hacer pruebas*/
    border-radius: 10px;
    /*bordes redondeados*/
}

.contenedor-categorias .background-categorias .tarjetas .tarjeta .contenido a img {
    position: absolute;
    /*para poder moverme*/
    width: 100%;
    /*imagen ocupa 100% ancho*/
    height: 100%;
    /*imagen ocupa 100% alto*/
    object-fit: cover;
    /*para que la imagen se adapte a la caja, es el que mejor queda cover*/
    border-radius: 10px;
    /*esquinas redondeadas*/
}

.contenedor-categorias .background-categorias .tarjetas .tarjeta .contenido a h4 {
    position: absolute;
    /*para poder moverme*/
    bottom: 0;
    /*ubicado abajo de todo*/
    width: 100%;
    /*ocupa todo el ancho*/
    height: 45px;
    /*45 px de alto*/
    line-height: 45px;
    /*baja el texto*/
    color: var(--white);
    /*color de la letra*/
    text-transform: uppercase;
    /*mayuscula*/
    background: rgba(64, 137, 219, 0.4);
    /*sombreado*/
    border-radius: 10px;
    /*bordes redondeados*/
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    /*disposicion de columna*/
    align-items: center;
    /* con cajas alineadas*/
    width: 100%;
    /*100% ancho*/
    height: 5vh;
    /*5% de altura*/
}

footer h5 {
    color: var(--darkgrey);
    /*color de la fuente*/
}

footer h6 {
    color: var(--darkgrey);
    /*color de la fuente*/
}


@media screen and (max-width:480px) {
    /*DEJE ESTO PARA LO ULTIMO PENSANDO QUE ERA FACIL Y LA VERDAD QUE NO,
     COMO NO ESTA EN LA CONSIGNA LO DEJO PARA LA PROXIMA ENTREGA*/
}

@media screen and (max-width:768px) {

    /*DEJE ESTO PARA LO ULTIMO PENSANDO QUE ERA FACIL Y LA VERDAD QUE NO, 
    COMO NO ESTA EN LA CONSIGNA LO DEJO PARA LA PROXIMA ENTREGA*/
}
